/* General Styling */
body {
    font-family: 'Epilogue', sans-serif;
    background-color: #FEF9F9;
    margin: 0;
    padding: 0;
}

/* Top Navigation Styling */
#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FEF9F9;
    padding: 20px 0;
    z-index: 1000; /* nav is above other content */
    display: flex;
    justify-content: center;
}

#main-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-menu > li {
    position: relative;
}

#main-menu a {
    color: #2C2D41;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#main-menu a:hover {
    color: #B1C543;
}

/* Hide the dropdown menu initially */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #EF6D58;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu a {
    color: #FEF9F9;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Header */
header {
    background-color: #2C2D41;
    color: #B1C543;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding:30px;

}

.header-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

header h1 {
    font-family: 'Jua', sans-serif;
    font-size: 120px;
    margin: 0 0 10px 0;
    text-align: center;
    position: relative;
    justify-content: center;

}

header h2 {
    font-family: 'Englebert', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 250px;
}

header p {
    text-align: left;
    width: 35%; 
    margin: 50px 0;
}

.header-line {
    width: 200px;
    height: auto;
    margin:0;
    align-self: flex-start;
    position:absolute;
    top:140px;
    left:35px;
}

.gallery-magazines h3 {
    font-size: 24px;
}

/* Four equal columns that floats next to each other */
* {
    box-sizing: border-box;
    text-align: center;
  }
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
   width: 100%;
   max-height:580px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .magazine-container {
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  #magazine-container img {
    width: 60%;
}
.modal {
    max-width: 100% !important;
    width: auto !important;
}
.modal img {
    /* view height ; vw = view width*/
    height: 75vh;
}
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .splide__slide img {
    width: 100%; 
    height: 30rem; 
    object-fit: cover; 
    max-width: none; 
    padding: 10px;
    border-radius: 10px;
}
#splide-gallery-magazines .splide__slide img {
    width: auto; 
    height: 40rem; 
    object-fit: cover; 
    max-width: none; 
    padding: 10px;
    border-radius: 10px;
}

.splide__slide{
    margin:10px;
}
  #image-carousel {
    width: 60%;
    margin: 10px;
  }

/* Footer */
footer {
    background-color: #2C2D41;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*mobile menu*/
#mobile-nav button {
    background-color: transparent;
    border: 0;
}

/* Mobile menu container */
#overlay-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
/* Adjust the mobile menu itself */
#overlay-menu {
    background-color: #98a432;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
#overlay-menu menu {
    padding-left: 0;
    list-style-type:none;
}
#overlay-menu menu li a {
    font-size:28px;
    color: #2C2D41;
    text-decoration: none;
    font-weight: bold;
    margin-block:10px;
    display: inline-block;
}

#close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
}
#mobile-nav {
    display:none;
    position:fixed;
    z-index:1000;
    background-color:#FEF9F9;
    width: 100%;
}
@media (max-width:900px) {
    #top-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
        text-align: left;
    }
    main {
        width: 100%;
    }
}